* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

img {
    object-fit: cover;
}

p,
span {
    font-family: 'Golos', sans-serif;
    color: #222222;
}

.container {
    display: flex;
}

.icon-menu__wrapper {
    position: relative;
}

.icon-menu__wrapper::after {
    content: "";
    position: absolute;
    left: 40%;
    top: 90%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #222222;
}

.container__icon-menu {
    position: fixed;
    margin-top: 40px;
    width: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

.container__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;
}

.content__user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2px;
}

.content__posts .post__img {
    width: 322px;
    height: 322px;
    border-radius: 2px;
}

.content__user-info .content__user-icon {
    border-radius: 16px;
    width: 123px;
    height: 123px;
}

.content__user-info .content__user-name {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
}

.user-info .user_description {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}

.content__count-posts {
    width: fit-content;
    padding: 6px 10px;
    border-radius: 6px;
    background-color: #F2F3F5;
    margin-bottom: 30px;
    margin-top: 15px
}

.content__count-posts span {
    font-size: 15px;
}