:root{
    --item: 2%;

}
@font-face {
    font-family: 'Montserrat Alternates';
    src: url('ofont.ru_Montserrat\ Alternates.ttf');
}
* {
    margin: 0;
    padding: 0;
}
.photo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.photo img {
    border-radius: 15px;
}
body {
  font-family: 'Montserrat Alternates';
  color: #000000;
  background-color: #f4f4f4;
}

h1 {
    text-align: center;
}

.info {
    
    margin-top:20px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 18px; 
    gap: 20px;

}

.container {
    padding: 2rem ;
    width: calc(80% + var(--item));
    margin: auto ;
    background-color: aliceblue;
    border-radius: 1em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.about_me {
  padding: 15px 10px;
  font-size: large;
}